#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 4em;
  text-align: center;
}

.logo {
  height: 4em;
  will-change: filter;
}

h1 {
  margin: 0.25em;
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer a {
  color: #888;
  padding: 1rem;
}

footer img {
  vertical-align: middle;
  width: 1.5rem;
  height: 100%;
  margin: 0 0.5rem;
}
